@model CryptoLinker.Web.Models.PortfolioViewModel

<h2>Содержимое портфеля</h2>

<table class="table table-bordered">
	<thead>
		<tr>
			<th>Валюта</th>
			<th>Количество</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Items)
		{
			<tr>
				<td>@item.Symbol</td>
				<td>@item.Amount</td>
			</tr>
		}
	</tbody>
</table>